<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#ffb3d9;">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand fw-bold fs-4" href="/index">SparkleCart 💗</a>

        <div>
            <a class="nav-link d-inline mx-2" href="/index">Home</a>
            <a class="nav-link d-inline mx-2" href="/contact">Contact</a>
            <a class="nav-link d-inline mx-2" href="/product">Product</a>
            <a class="nav-link d-inline mx-2" href="/about">about</a>
            <a class="nav-link d-inline mx-2" href="/wishlist">Wishlist</a>
            <a class="nav-link d-inline mx-2" href="/cart">Cart 🛒</a>
        </div>

        <div>
            {% if session.get('user') %}

                <!-- AFTER LOGIN -->
                <a href="/myprofile" class="btn btn-outline-dark btn-sm me-2">
                    My Profile
                </a>

                <a href="/logout" class="btn btn-pink btn-sm">
                    Logout
                </a>

            {% else %}

                <!-- BEFORE LOGIN -->
                <a href="/register" class="btn btn-pink btn-sm">
                    Register
                </a>

            {% endif %}
        </div>

    </div>
</nav>

<style>
.navbar .nav-link {
    color: #3d003d;
    font-weight: 500;
    transition: 0.3s;
}
.navbar .nav-link:hover {
    color: #ff3399;
}
.btn-pink {
    background-color: #ff66b3;
    color: white;
    border: none;
    transition:0.3s;
}
.btn-pink:hover {
    background-color: #ff3399;
}
</style>
