{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">My Wishlist ❤️</h2>
    <div class="row">
        {% for item in items %}
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <img src="{{ item[4] }}" class="card-img-top" style="height:200px; object-fit:cover;">
                <div class="card-body text-center">
                    <h6>{{ item[2] }}</h6>
                    <p>₹{{ item[3] }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}